.bj{
    width: 100%;
    height: 613px;
    background-image: url("../img/cy-bg.jpg");
    background-size: 100% auto;
    position: fixed;
    z-index: -1;
}
header{
    width: 100%;
    height: 94px;
    padding: 15px 0;
    background: #FFFFFF;
}
header .main_body{
    height: 94px;
    background: #FFFFFF;
    margin: 0 30px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content:space-around;*/
    /*align-items: center;*/

}
header .main_body .menu{
    font-size: 40px;
    color: #0f0f0f;
    float: right;
}
header .main_body ul li{
    border-right: 1px solid #ededed;
    padding: 0 35px;
    float: left;
    display: none;
}
header .main_body .left4{
    border: none;
}
header .main_body .right4{
    border: none;
}
header .main_body .left1 a{
    display: block;
    height: 35px;
    width: 34px;
    background-image: url("../img/首页.png");
    background-position: 0 -35px;
    background-size: auto 200%;
}
header .main_body .left2 a{
    display: block;
    height: 35px;
    width: 34px;
    background-image: url("../img/品牌.png");
    background-size: auto 200%;
}
header .main_body .left2 a:hover{
    background-position: 0 -35px;
}
header .main_body .left3 a{
    display: block;
    height: 35px;
    width: 34px;
    background-image: url("../img/产品.png");
    background-size: auto 200%;
}
header .main_body .left3 a:hover{
    background-position: 0 -35px;
}
header .main_body .left4 a{
    display: block;
    height: 35px;
    width: 34px;
    background-image: url("../img/新闻.png");
    background-size: auto 200%;
}
header .main_body .left4 a:hover{
    background-position: 0 -35px;
}
header .main_body .logo{
    width: 50px;
    height: 52px;
    float: left;
}
header .main_body .logo img{
    width: 100%;
    height: auto;
}
header .main_body .right1 a{
    display: block;
    height: 35px;
    width: 34px;
    background-image: url("../img/店铺.png");
    background-size: auto 200%;
}
header .main_body .right1 a:hover{
    background-position: 0 -35px;
}
header .main_body .right2 a{
    display: block;
    height: 35px;
    width: 34px;
    background-image: url("../img/加盟.png");
    background-size: auto 200%;
}
header .main_body .right2 a:hover{
    background-position: 0 -35px;
}
header .main_body .right3 a{
    display: block;
    height: 35px;
    width: 34px;
    background-image: url("../img/联系.png");
    background-size: auto 200%;
}
header .main_body .right3 a:hover{
    background-position: 0 -35px;
}
header .main_body .right4 a{
    display: block;
    height: 35px;
    width: 34px;
    background-image: url("../img/微信.png");
    background-size: 100% 100%;
}
/*轮播图*/
.swiper-container {
    width: 100%;
   height: 194px;
}
.swiper-slide{
    width: 100%;
    height: auto;
}
.swiper-slide img{
    width: 100%;
    height: auto;
}
.banner{
    width: 100%;
    height: auto;
}
.banner .img1{
    width: 100%;
    height: 100%;
    /*background: url("../img/banner1.jpg");*/
    /*background-size: 100% 100%;*/
}
.banner .img1 img{
    width: 100%;
    height: auto;
}

/*轮播图结束*/
/*简介*/

.synopsis{
    width: 100%;
    height: 678px;
    background: #EFEFEF;
    position: relative;
    overflow: hidden;
}
.synopsis .logo{
    width: 283px;
    height: 100px;
    background-image: url("../img/简介.png");
    background-size:100% 100% ;
    position:absolute;
    left: 18px;
    top: 18px;
}
.synopsis .tex{
    font-size: 16px;
    width: 50%;
    height: auto;
    color: #555555;
    /*margin-top: 100px;*/
    margin-left: 18px;
}
.synopsis .img{
    width: 40%;
    background-image: url("../img/简介jpg.jpg") ;
    background-size: 100% 100%;
    border-radius:25px;
    margin-top: 200px;
    margin-left: 50%;
    overflow: hidden;
}
.synopsis .img img{
    width: 100%;
    height: auto;
}
.synopsis .img:hover{
    transform:translate(0, -2px);
    box-shadow: 0 0 25px #8c8c8c;
}
/*简介结束*/
/*新闻*/
.news {
    width: 100%;
    /*height: 400px;*/
    padding-bottom:40px ;
    padding-top: 20px;
    border-top: 2px solid #eee;
    background: #FFFFFF;
}
.news .box{
    width: 95%;
    height: 100%;
    margin: auto;
    background: #FFFFFF;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.news .box .box1{
    /*width: 100%;*/
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left;
    margin-bottom: 20px;
}
.news .box .box1 .left {
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
}
.news .box .box1 .left img{
    width: 100%;
    height: auto;
}
.news .box .box1 .right{
    width: 60%;
    color: #7b7b7b;
}
.news .box .box1 .right ul li{
    font-size: 14px;
}
.news .box > div:hover{

}
/*新闻完*/
/*原材*/
.original{
    width: 100%;
    /*background: #00a0c1;*/
    margin-bottom: 50px;
}
.original .top{
    height: 150px;
    width: 305px;
    background-image: url("../img/原料1.png");
    background-size: 100% 100%;
    margin: 0 auto;
}
.original .bottom{
    width: 100%;
}
.original .bottom ul li{

    /*width: 100%;*/
    float: left;
}
.original .bottom ul li a{
    display: block;
    padding: 0 10%;
    margin-bottom: 20px;
}
.original .bottom ul li a .box{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.original .bottom ul li a .box img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.original .bottom ul li a .box .mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;

    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
}
.original .bottom ul li a .box .mask h2{
    font-size: 16px;
    margin-top: 50px;
}
/*原材完*/
/*产品*/
.product{
    width: 100%;
    background: #F5F5F5;
}
.product .log{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.product .log img{
    height: 150px;
    width: auto;
}
.product .log p{
    text-align: center;
    width: 100%;color: #999999;
    margin-top: 15px;
    font-size: 15px;
}
.product .box{
    width: 100%;
    /*background:red;*/
    /*height: auto;*/
}
.product .box .ul {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.product .box ul li a{
    display: block;
}

.product .box ul li a .single{
    width: 100%;
    height: auto;
    position: relative;
}
.product .box ul li a .single .chart{
    width: 100%;
    height: auto;
}
.product .box ul li a .single .chart img{
    width: 100%;
    height: 100%;
}
.product .box ul li a .single .txt{
    width: 100%;
    height: auto;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 10px;
}
.product .box ul li a .single .txt h4{
    padding-left: 20px;
}
.product .box ul li a .single .txt h2{
    font-size: 16px;
    font-weight: normal;
    padding-left:20px ;
    margin-bottom: 10px;
    margin-top: 5px;
}
.product .more{
    width: 100%;
    height: 100px;
    padding-top: 50px;
}
.product .more .caption{
    text-align: center;
}
.product .more .caption a {
    display: inline-block;
    padding:10px 15px;
    background: #FFFFFF;
    color: #666666;
    border-radius: 5px;
    text-shadow: none;
}
.join{
    width: 100%;
    height: auto;
    padding: 18px;
}
.join .content{
    width: 100%;
    height: auto;
    /*background: #00a0c1;*/
}
.join .content .head{
    text-align: center;
}
.join .content .head img{
    height: 180px;
    width: auto;

}
.join .content .head p{
    color: #fbdfa2;
    font-size: 16px;
    margin-top: 30px;
}
.join .content .head p span{
    font-size: 40px;
}
.join .content ul li{
    margin-top: 30px;
    margin-bottom: 10px;
}
.join .content ul{
    padding-bottom: 50px;
}
.join .content ul li .box{
    width: 90%;
    margin: 0 5%;

}
.join .content ul li .box .xs{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.join .content ul li .box .xs .sm{
    margin: 24px;
}
.join .content ul li .box .xs .sm h2{
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}
.footer{
    padding-top: 20px;
    width: 100%;
    background-color: #222;
}
.footer .box{
    width: 90%;
    margin: 0 auto;
    height: auto;
}
.footer .box .txt1{
    /*width: 100%;*/
    float: right;
    /*margin-right: 40px;*/
    padding-left:10px ;
    border-left: 1px solid #666666;
}
.footer .box .txt1 h3{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #e50055;
}
.footer .box .txt1 p{
    font-size: 13px;
    line-height: 18px;
    color: #999999;
}
.footer .box .txt2{
    /*width: 100%;*/
    float: right;
    /*margin-right: 40px;*/
    padding-left:10px ;
    border-left: 1px solid #666666;
}
.footer .box .txt2 h3{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #e50055;
}
.footer .box .txt2 p{
    font-size: 13px;
    line-height: 18px;
    color: #999999;
}
.footer .box .icon{
    float: left;
    width: 200px;
}
.footer .box .icon img{
    width: 200px;
    height: auto;
}
.footer .box .icon h3{
    margin: 10px 0;
    font-size: 16px;
    color: #e51a5b;
    line-height: 15px;
    text-align: right;
}
@media screen  and  (min-width: 768px) {
    .swiper-container {
        width: 100%;
        height: 310px;
    }
}
@media screen  and  (min-width: 992px){
    .swiper-container {
        width: 100%;
        height: 400px;
    }
    header .main_body{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }
    header .main_body ul li{
        display: block;
    }
    header .main_body .menu{
        display: none;
    }
    header .main_body .logo{
        width: 90px;
        height: auto;
    }
    header{
        height: auto;
    }
}
@media screen  and  (min-width: 1200px){
    .swiper-container {
        width: 100%;
        height: 455px;
    }
}